<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:decorate="~{layout/default_layout}">
	
	<th:block layout:fragment="head">
		<title>Board</title>
		
		<link rel="stylesheet" th:href="@{/css/board.css}"/>
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.tmpl.js}"></script>
	</th:block>
	
	<body>
		<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
		
		<div layout:fragment="content" class="content">
			<form action="/boardUpdate" method="post">
				<h2>글 수정하기</h2>
				<table>
					<tr>
						<th>제목</th>
						<td><input type="text" name="title" id="title" th:value="${board.title}"></td>
					</tr>
					<tr>
						<th>작성자</th>
						<td><input type="text" name="writer" th:value="${board.writer}"></td>
					</tr>
					<tr>
						<th>비밀번호</th>
						<td><input type="password" name="password"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td><textarea name="content" th:text="${board.content}"></textarea></td>
					</tr>
				</table>
				<button type="button" onClick="location.href='/board'">취소</button>
				<input type="submit" value="수정하기">
				<input type="hidden" name="board_no" th:value="${board.board_no}">
			</form>
		</div>
		<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
	</body>
</html>